
.slider_container {
  margin-top: 50px;
}
.cards_sliders {
  /* width: 430px; */
  width: 100%;
  padding: 20px 0px;
  transition: 2s;
  height: max-content;
}

.cardHead {
  display: flex;
  align-items: center;
  background-color: rgb(236, 234, 234);
  padding: 0px 15px;
  max-height: 140px;
  box-shadow: 0px 0px 10px gainsboro;
}
.cardHead > img {
  width: 120px;
  height: 170px;
  margin-top: 10px;
  object-fit: cover;
}
.headTitl {
  margin-left: 10px;
  padding-bottom: 10px;
  /* max-height: 90px; */
}
.quotes::before {
  content: "\275D";
}
.headTitl > p {
  font-size: 0.8rem;
}
.quotes {
  font-size: 1.5rem !important;
  font-weight: bold;
  /* transform: rotate(180deg); */
  width: fit-content;
  /* height: fit-content; */
}
.name {
  margin: 5px 0px;
}
.edt_img {
  width: 100px;
}
.edt_img3{
    width: 50px;
}
.cardMOreInfo {
  display: none;
  transition: 2s;
  text-align: center;
  padding: 30px 30px;
}
.educationInfo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.cusBlck_btn {
  background-color: black;
  color: white;
  outline: none;
  border: none;
  border-radius: 15px;
  padding: 8px 20px;
  margin-top: 20px;
}
.moreInfo_para {
  width: 270px;
  margin: 10px auto;
  font-size: 0.9rem;
}
.infoEdt1 {
  width: 100px;
  text-align: center;
  /* margin: 0px auto; */
}
.infoEdt > .edt_img,
.infoEdt1 > .edt_img {
  text-align: center;
  margin: 0px auto;
}
.swiper-slide-next .cards_sliders {
  background-color: white;
  box-shadow: 0px 0px 8px gainsboro;
  transform: scale(1.1);
}
.swiper-slide-next .cardMOreInfo {
  display: block;
}
.swiper-slide-next .cardHead {
  box-shadow: none;
  margin-top: 20px;
}
.swiper-slide-duplicate-prev .cards_sliders,.swiper-slide-active .cards_sliders {
  transform: scale(0.9);
}
@media (max-width: 1370px) {
  .educationInfo {
    width: 100%;
  }
  .cards_sliders {
    width: 410px;
  }
}
@media (max-width: 1270px) {
    .swiper-slide-active{
        width: 380px !important;
        margin-left: -11px;
    }
}

@media (max-width: 1200px) {
    .swiper-slide-active
    {
        width: 380px !important;
        margin-left: 1px;
    }
    .cards_sliders{
        width: 380px !important;
    }
    .swiper-slide-next{
        width: 380px !important;
    }
    .edt_img{
        width: 70px;
    }
    .edt_img3{
        width: 35px;
    }
    .educationInfo h6{
        font-size: .65rem;
    }
    .moreInfo_para{
        font-size: .8rem;
    }
    .swiper-slide-next .headTitl > p{
        font-size: .7rem;
    }
    .swiper-slide{
        margin-right:3.5% !important;
    }
}
@media (max-width: 1000px) {
    .swiper-slide{
        transform: translate(-25%,0%);
    }
}
@media (max-width: 850px) {
    .swiper-slide{
        transform: translate(-35%,0%);
    }
}
@media (max-width: 800px) {
    .cards_sliders{
        width: 360px !important;
    }
    .swiper-slide-next{
        width: 360px !important;
    }
    .swiper-slide{
        transform: translate(-40%,0%);
    }
    .swiper-slide-active .cardHead,.swiper-slide-duplicate-prev .cardHead{
        max-height: 160px;
    }
    .swiper-slide-active  .cardHead > img,.swiper-slide-duplicate-prev .cardHead > img{
        max-height: 170px;
    }

}
@media (max-width: 760px) {
    .swiper-slide{
        transform: translate(-58%,0%);
    }
    .swiper-slide-duplicate-prev{
        transform: translate(-25%,0%);
    }
}

@media (max-width: 700px) {
    .swiper-slide{
        /* margin-right:2% !important; */
        transform: translate(-60%,0%);
    }
    .swiper-slide-duplicate-prev{
        transform: translate(-28%,0%);
    }
}
@media (max-width: 650px) {
    .swiper-slide{
        /* margin-right:2% !important; */
        transform: translate(-67%,0%);
    }
    .swiper-slide-duplicate-prev{
        transform: translate(-33%,0%);
    }
    .swiper-slide-next .cardHead > img{
         height: 130px;
         width: 100px;
    }
    .swiper-slide-next .cardHead{
        max-height: 125px;
    }
    .swiper-slide-next .headTitl > p{
        font-size: .65rem;
    }
    .cardMOreInfo h2{
        font-size: 1.1rem;
    }
    /* .infoEdt > .edt_img, .infoEdt1 > .edt_img{
        width: 30px;
    } */
    .educationInfo h6{
        font-size: .6rem;
    }
    .cusBlck_btn{
        font-size: .9rem;
    }
    .cardMOreInfo{
        padding: 20px;
    }
}
@media (max-width:600px){
    .swiper-slide{
        transform: initial;
        margin-right: 50px !important;
    }
    .swiper-slide-duplicate-prev{
        transform: initial;
        
    }
    .swiper-slide-active{
        width: 90% !important;
        margin-right: 0px !important;
        margin-left: 25px !important;
    }
    .swiper-slide-active .cards_sliders{
        width: 90% !important;
        margin: 0px auto !important;
    }

    .swiper-slide-active .cards_sliders {
        background-color: white;
        box-shadow: 0px 0px 8px gainsboro;
        transform: scale(1.1);
      }
      .swiper-slide-active .cardMOreInfo {
        display: block;
      }
      .swiper-slide-active .cardHead {
        box-shadow: none;
        margin-top: 20px;
      }
      .swiper-slide-duplicate-prev .cards_sliders,.swiper-slide-next .cards_sliders {
        transform: scale(0.9);
      }

      .swiper-slide-next .cards_sliders {
        background-color: transparent;
        box-shadow: none;
        /* transform: scale(1.1); */
      }
      .swiper-slide-next .cardMOreInfo {
        display: none;
      }
      .swiper-slide-next .cardHead {
        /* box-shadow: ; */
        box-shadow: 0px 0px 8px gainsboro;
        margin-top: 0px;
      }
      /* .swiper-slide-duplicate-prev .cards_sliders,.swiper-slide-next .cards_sliders {
        transform: scale(0.9);
      } */
}
@media (max-width:450px){
    .swiper-slide-active .cardHead > img{
       height:140px;
       width: 95px;
    }
      .headTitl > p{
        font-size: .65rem;
    }
    .swiper-slide-active .cardHead{
        max-height: 130px;
    }
}
@media (max-width:400px){
    .swiper-slide-active{
        margin-left: 20px !important;
    }
    .cardMOreInfo{
        padding: 20px 10px;
    }
    .quotes::before{
        font-size: 1rem;
    }
    /* .swiper-slide-duplicate-prev{
        margin-right: 150px !important;
    } */
}
@media (max-width:370px){
    .moreInfo_para{
        width: 90%;
    }
    .swiper-slide-active{
        margin-left: 7px !important;
        width: 95% !important;
    }
}
@media (max-width:305px){
    .headTitl > p{
        font-size: .57rem;
    }
}
